<section class="py-5">
    <div class="mb-4">
        <div class="container">
            <div class="text-center">
                <h2 class="fw-bold fs-1">CONATCT SECTION</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line"></div>
                    <i class="fa-solid fa-star fs-3 text-black"></i>
                    <div class="line-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<form class="w-50 P-3 mx-auto">
    <div class="py-3">
        <!-- <label for="userName" class="position-relative top-0 "> userName</label> -->
        <input type="text" id="userName" placeholder="userName" name="userName"
            class="form-control border-0 border-bottom py-3">
    </div>
    <div class="py-3">
        <!-- <label for="userName" class="position-relative top-0 "> userName</label> -->
        <input type="number" id="userAge" placeholder="userAge" name="userAge"
            class="form-control border-0 border-bottom py-3 ">
    </div>
    <div class="py-3">
        <!-- <label for="userName" class="position-relative top-0 "> userName</label> -->
        <input type="email" id="userEmail" placeholder="userEmail" name="userEmail"
            class="form-control border-0 border-bottom py-3">
    </div>
    <div class="py-3">
        <!-- <label for="userName" class="position-relative top-0 "> userName</label> -->
        <input type="password" id="userPassword" placeholder="userPassword" name="userPassword"
            class="form-control border-0 border-bottom py-3">
    </div>
    <button class="btn btn-success m-3" type="button">Send Message</button>
</form>
