.line::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: white;
    left: 52%;
}
.line-1::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: white;
    right: 52%;
}
.background{
    background-color: #1ABC9C;
}

img{

    width: 60%;
}