<section class="about py-5">
    <div class="container-fluid text-white d-flex justify-content-center align-items-center">
        <div class="cap py-5">
            <h2 class="fs-1">ABOUT COMPONENT</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line"></div>
                <i class="fa-solid fa-star fs-3"></i>
                <div class="line-1"></div>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-6 py-2">
            <p class="text-white text-center ms-auto px-3 w-75">
                Freelancer is a free bootstrap theme created by Route.
                The download includes the complete source
                files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.
            </p>
        </div>
        <div class="col-md-6 py-2">
            <p class="text-white text-center me-auto px-3 w-75">
                Freelancer is a free bootstrap theme created by Route.
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization..
            </p>
        </div>
    </div>
</section>